<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
  <script src="cch.js"></script>
  <title>Document</title>
</head>
<body>
  <section class="main-section" id="app">
    <div class="columns">
      <div class="column is-5 editor-area box">
  
        <form></form>
          <div class="field">
            <div class="columns">
              <div class="column is-3">
                <div class="control">
                  <div class="select is-rounded">
                    <select>
                      <option value="-">支出</option>
                      <option value="+">收入</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="column is-6">
                <div class="control">
                  <input class="input" 
                         type="text" 
                         placeholder="項目"
                         v-model='inputTitle'>
                </div>
              </div>
              <div class="column is-3">
                <div class="control">
                  <input class="input" 
                         type="number" 
                         placeholder="金額"
                         v-model='inputMoney'>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label for="description" class="label">備註說明：</label>
              <textarea id="description" class="textarea"></textarea>
              <p class="help">提醒您：賺錢有術，花錢有道！</p>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary is-fullwidth" @click='addNewList'>
                新增
              </button>
            </div>
          </div>
        </form>
      </div>
  
      <div class="column is-7 result-area box">
        <div class="total_amount has-text-grey is-size-2 has-text-left">收支：0</div>
  
        <div class="list-item is-size-5">
          <div class="columns">
            <div class="column is-1 type has-text-centered">
  <!--             <i class="far fa-minus-square has-text-danger"></i> -->
            </div>
            <ul>
              <li v-for="list in lists">
                {{ list.Title }} - {{ list.Money }}
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>