* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 微軟正黑體, arial;
  font-weight: lighter;
}
body {
  padding-top: 80px;
}
.nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  padding: 25px;
  display: flex;
}
.nav .logo * {
  color: #CE0035;
  font-size: 16px;
  text-decoration: none;
  margin-left: 3px;
  margin-top: 3px;
}
.nav .logo img {
  max-width: 5.8rem;
}
.right-pages {
  display: flex;
  margin-right: 15px;
}
.right-pages .pages * {
  color: #646464;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  line-height: 10px;
  padding: 5px 5px;
  margin-top: 10px;
}
.top-banner img {
  width: 100%;
}
.about {
  width: 100%;
  background-color: #F5F5F5;
  padding: 30px;
}
.about .container {
  margin: auto;
  width: 1200px;
  text-align: center;
}
.about .title h2 {
  color: #434343;
}
.about .title h2:after {
  content: '';
  display: block;
  background-color: #CE0035;
  height: 3px;
  width: 80px;
  margin: 20px auto;
}
.about .list-group * {
  display: flex;
  color: #434343;
  text-decoration: none;
  text-align: center;
}
.about .list-group {
  display: flex;
  margin: auto;
}
.about .list-group .item {
  width: 250px;
  padding: 25px;
}
.about .item * {
  display: inline-block;
  text-align: center;
}
.about .item h3 {
  font-size: 24px;
  margin-bottom: 15px;
}



.prompt-course .container {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* justify-content: center; */
}
.prompt-course .container .title {
  text-align: center;
  
}

.prompt-course {
  width: 100%;
  background-color: #fff;
  padding: 30px;
}

.prompt-course .course-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.prompt-course .container .title h2 {
  color: #434343;
}
.prompt-course .container .title h2:after {
  content: '';
  display: block;
  background-color: #CE0035;
  height: 3px;
  width: 80px;
  margin: 20px auto;
}
.prompt-course .item {
  width: 350px;
  margin: 25px;
  border: 1px solid #ccc;
}
.prompt-course .item img {
  width: 100%;
}
.down-area {
  padding: 5px;
}
.course-title {
  margin: 10px;
}
.open-now-tag {
  width: 70px;
  background-color: #CE0035;
  padding: 3px 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.course-group a {
  text-decoration: none;
}
.open-now-tag p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
.course-title h4 {
  color: #535353;
  line-height: 30px;
  padding: 5px auto;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.teacher {
  color: #878787;
  font-size: 14px;

}
.course-time {
  border-top: 1px solid #D5D5D5;
  margin: 10px;
  padding-top: 15px;
  display: flex;
}
